<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="/resource/global/toastr.css" rel="stylesheet">

    <link rel="stylesheet" href="/resource/global/global.css">
    <script src="/resource/global/global.js"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script>
        const urlParams = getUrlParams(location.href);
    </script>
</head>
<body>

<th:block layout:fragment="header"></th:block>

<th:block layout:fragment="content"></th:block>

<script>
    // history.back 에 의해서 돌아온 경우에 자바스크립트가 실행이 안될 수 도 잇다.
    // $(window).bind("pageshow", function (event) {}); 를 사용하면 해결이 된다.
    $(window).bind("pageshow", function (event) {
        if (sessionStorage.getItem("historyBackFailMsg")) {
            toastWarning(sessionStorage.getItem("historyBackFailMsg"));
            sessionStorage.removeItem("historyBackFailMsg");
        }
    });

    if (urlParams.msg) {
        toastNotice(urlParams.msg);
    }

    if (urlParams.failMsg) {
        toastWarning(urlParams.failMsg);
    }
</script>

</body>
</html>