<!DOCTYPE html>
<html lang="ko" layout:decorate="~{global/layout}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE admin" th:text="${@appConfig.siteName}"></title>
</head>
<body>
    <header layout:fragment="header">
        <h1 th:text="|${@appConfig.siteName} 관리자|"></h1>
        <a href="/">홈</a>
        <a href="/messages">메세지리스트 홈</a>
        <a href="#">채팅리스트 홈</a>
        <a href="#">통계 홈</a>
        <a href="#">결제하기 </a>
        <a href="#">지도</a>
    </header>
</body>
</html>