<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>
</head>

<body>

<header layout:fragment="header">
    <h1 th:text="|${@appConfig.siteName}|"></h1>

    <a href="/">홈</a>
    <a href="/post/list">글 목록</a>
    <a th:if="${@reqData.admin}" href="/adm">관리자 홈</a>
    <a th:if="${@reqData.login}" href="/post/write">글 쓰기</a>
    <a th:if="${@reqData.login}" href="/post/myList">내글 목록</a>
    <a th:if="${@reqData.login}" href="/member/logout">로그아웃</a>
    <a th:if="${@reqData.logout}" href="/member/login">로그인</a>
    <a th:if="${@reqData.logout}" href="/member/join">회원가입</a>
</header>

</body>

</html>