<!DOCTYPE html>
<html layout:decorate="~{global/layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${@appConfig.siteName}"></title>
</head>

<body>

<header layout:fragment="header">

    <div th:if="${@reqData.login}">
        <h1>Hello, <span th:text="${@reqData.getMember().username}">User</span>!</h1>
        <p th:if="${@reqData.getMember() != null and @reqData.getMember().getCreateDate() != null}"
           th:text="${#strings.replace(@reqData.getMember().createDate.toString(), 'T', ' ')}">You are an 등록일.</p>

          <!--
        LocalDateTime을 Date로 변환 하기위해서 만약 #dates 유틸리티를 계속 사용해야 한다면 Date 객체로 변환 처리해야한다
            <p th:if="${@reqData.getMember() != null and @reqData.getMember().createDate != null}"
          th:text="${#dates.format(@reqData.getMember().createDate, 'yyyy-MM-dd HH:mm:ss')}">You are an 등록일.</p>

          -->
        <p th:if="${@reqData.getMember() != null and @reqData.getMember().createDate != null}"
           th:text="${#temporals.format(@reqData.getMember().createDate, 'yyyy-MM-dd HH:mm:ss')}">
            등록일
        </p>


        <p th:if="${@reqData.getMember().userid}">You are an userId.</p>
        <p th:if="${@reqData.getMember().roleType}">You are an RoleType.</p>
        <p th:if="${@reqData.getMember().useYn}">You are an useYn.</p>
    </div>

    <h1 th:text="|${@appConfig.siteName}|"></h1>

    <a href="/">홈</a>
    <a href="/post/list">글 목록</a>
    <a th:if="${@reqData.admin}" href="/adm">관리자 홈</a>
    <a th:if="${@reqData.login}" href="/post/write">글 쓰기</a>
    <a th:if="${@reqData.login}" href="/post/myList">내글 목록</a>
    <a th:if="${@reqData.login}" href="/member/logout">로그아웃</a>
    <a th:if="${@reqData.logout}" href="/member/login">로그인</a>
    <a th:if="${@reqData.logout}" href="/member/join">회원가입</a>
    <a th:if="${@reqData.login}" href="/member/logout">회원 엑셀다운로드</a>
    <a th:if="${@reqData.login}" href="/member/logout">게시글 엑셀다운로드</a>
    <a th:if="${@reqData.login}" href="/calednar">일정관리</a>


</header>

</body>

</html>