<style>
    .chat-message {
        display: flex;
        gap: 10px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">

    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    const chatRoomId = /*[[${chatRoom.id}]]*/ 0;

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe(`/topic/chat${chatRoomId}MessageCreated`, function (data) {
            const jsonData = JSON.parse(data.body);
            drawChatMessage(jsonData);
        });
    });

    async function loadChatMessages() {
        try {
            const response = await fetch(
                '/chat/' + chatRoomId + '/messages',
                {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
            );

            const data = await response.json();

            if (!response.ok) {
                throw new Error(data);
            }

            drawChatMessages(data);
        } catch (error) {
            console.error(error);
        }
    }

    function drawChatMessages(messages) {
        messages.forEach(message => {
            drawChatMessage(message);
        });
    }

    function drawChatMessage(message) {
        const chatMessages = document.getElementById('chat-messages');

        const chatMessage = document.createElement('div');
        chatMessage.classList.add('chat-message');

        const chatMessageId = document.createElement('div');
        chatMessageId.classList.add('chat-message__id');
        chatMessageId.innerText = message.id;

        const chatMessageWriterName = document.createElement('div');
        chatMessageWriterName.classList.add('chat-message-writer__name');
        chatMessageWriterName.innerText = message.writerName;

        const chatMessageBody = document.createElement('div');
        chatMessageBody.classList.add('chat-message__body');
        chatMessageBody.innerText = message.body;

        chatMessage.appendChild(chatMessageId);
        chatMessage.appendChild(chatMessageWriterName);
        chatMessage.appendChild(chatMessageBody);

        chatMessages.insertBefore(chatMessage, chatMessages.firstChild);
    }

    document.addEventListener('DOMContentLoaded', function () {
        loadChatMessages();
    });

    function submitSendForm(form) {
        const body = form.body.value.trim();

        //alert(writerName + ' ' + body);
        stompClient.send(
            `/app/chat/${chatRoomId}/messages/create`,
            {},
            JSON.stringify({body})
        );
    }
</script>

<form onSubmit="submitSendForm(this); return false;">
    <input type="text" name="body" placeholder="내용">
    <button type="submit">Send</button>
</form>

<h1 th:text="${chatRoom.name}"></h1>

<div id="chat-messages">

</div>