<html layout:decorate="~{global/excelLayout}">

<head>
  <title>엑셀 게시글 출력</title>
  <script>
    function downloadExcel() {
      var startDay = document.getElementById("startDay").value;
      var endDay = document.getElementById("endDay").value;
      var sheetName = document.getElementById("sheetName").value;
      var fileName = document.getElementById("fileName").value;

      var url = '/v1/excel/download/post?startDay=' + encodeURIComponent(startDay)
              + '&endDay=' + encodeURIComponent(endDay)
              + '&sheetName=' + encodeURIComponent(sheetName)
              + '&fileName=' + encodeURIComponent(fileName);

      window.location.href = url;
    }
  </script>
</head>

<body>

<div layout:fragment="content">
  <h1>엑셀 게시글 출력</h1>
  <form onsubmit="event.preventDefault(); downloadExcel();">
    <label for="startDay">시작 날짜:</label>
    <input type="date" id="startDay" name="startDay" required><br><br>
    <label for="endDay">종료 날짜:</label>
    <input type="date" id="endDay" name="endDay" required><br><br>
    <label for="sheetName">시트 이름:</label>
    <input type="text" id="sheetName" name="sheetName" value="PostData"><br><br>
    <label for="fileName">파일 이름:</label>
    <input type="text" id="fileName" name="fileName" value="회원_게시글"><br><br>
    <button type="submit">다운로드</button>
  </form>


</div>

</body>
</html>