<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>

<div layout:fragment="content">
    <h1>로그인</h1>

    <script>
        function submitLoginForm(form) {
            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                alert('사용자 ID를 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                alert('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit();
        }

        // toastr 설정
        toastr.options = {
            showDuration: 300,
            hideDuration: 300,
            timeOut: 3000,
            extendedTimeOut: 1000
        };

        function redirect(url) {
            window.location.href = url;
        }

        function msgInfo(message) {
            toastr.info(message);
        }

        function msgError(message) {
            toastr.error(message);
        }

        // 소셜 로그인 함수
        function socialLogin(providerTypeCode) {
            const redirectUrl = encodeURIComponent(`http://localhost:8090/api/v1/members/socialLoginCallback?providerTypeCode=${providerTypeCode}`);
            const url = `http://localhost:8090/api/v1/members/socialLogin/${providerTypeCode}?redirectUrl=${redirectUrl}`;

            fetch(url)
                .then(response => response.text())
                .then(redirectUrl => {
                    if (redirectUrl.startsWith('redirect:')) {
                        window.location.href = redirectUrl.replace('redirect:', '');
                    } else {
                        console.error('Unexpected response:', redirectUrl);
                        msgError('로그인 처리 중 오류가 발생했습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    msgError('로그인 요청 중 오류가 발생했습니다.');
                });
        }
    </script>

    <form th:action method="POST" onSubmit="submitLoginForm(this); return false;">
        <div>
            <label>사용자 ID</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>

        <button type="submit">로그인</button>
    </form>

    <br/>

    <div id="qrCodeContainer">
        <!-- QR Code will be generated here -->
    </div>
    <br/>
    <div class="flex-grow flex items-center justify-center">
        <a id="kakaoLogin" class="btn" href="#" onclick="socialLogin('kakao'); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            카카오로 3초만에 시작하기
        </a>
    </div>
    <div class="flex-grow flex justify-center">
        <a id="naverLogin" class="btn" href="#" onclick="socialLogin('naver'); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            네이버로 3초만에 시작하기
        </a>
    </div>
    <div class="flex-grow flex justify-center">
        <a id="googleLogin" class="btn" href="#" onclick="socialLogin('google'); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            구글로 3초만에 시작하기
        </a>
    </div>
</div>

</body>
</html>