<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script src="https://cdn.jsdelivr.net/npm/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client"></script>
</head>
<body>

<div layout:fragment="content">
    <h1>로그인</h1>

    <script>
        function submitLoginForm(form) {
            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                alert('사용자 ID를 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                alert('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            form.submit();
        }

        // toastr 설정
        toastr.options = {
            showDuration: 300,
            hideDuration: 300,
            timeOut: 3000,
            extendedTimeOut: 1000
        };

        function redirect(url) {
            window.location.href = url;
        }

        function msgInfo(message) {
            toastr.info(message);
        }

        function msgError(message) {
            toastr.error(message);
        }

        // 로그인 URL 생성
        function getKakaoLoginUrl() {
            return 'http://localhost:8090/api/v1/members/socialLogin/kakao?redirectUrl=' + encodeURIComponent('http://localhost:8090/api/v1/members/socialLoginCallback?providerTypeCode=kakao');
        }

        function getGoogleLoginUrl() {
            return 'http://localhost:8090/api/v1/members/socialLogin/google?redirectUrl=' + encodeURIComponent('http://localhost:8090/api/v1/members/socialLoginCallback?providerTypeCode=google');
        }

        function getNaverLoginUrl() {
            return 'http://localhost:8090/api/v1/members/socialLogin/naver?redirectUrl=' + encodeURIComponent('http://localhost:8090/api/v1/members/socialLoginCallback?providerTypeCode=naver');
        }


    </script>

    <form th:action method="POST" onSubmit="submitLoginForm(this); return false;">
        <div>
            <label>사용자 ID</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>비밀번호</label>
            <input type="password" name="password">
        </div>

        <button type="submit">로그인</button>
    </form>

    <br/>

    <div id="qrCodeContainer">
        <!-- QR Code will be generated here -->
    </div>
    <br/>
    <div class="flex-grow flex items-center justify-center">
        <a id="kakaoLogin" class="btn" href="#" onclick="window.location.href=getKakaoLoginUrl(); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            카카오로 3초만에 시작하기
        </a>
    </div>
    <div class="flex-grow flex justify-center">
        <a id="naverLogin" class="btn" href="#" onclick="window.location.href=getNaverLoginUrl(); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            네이버로 3초만에 시작하기
        </a>
    </div>
    <div class="flex-grow flex justify-center">
        <a id="googleLogin" class="btn" href="#" onclick="window.location.href=getGoogleLoginUrl(); return false;">
            <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
            구글로 3초만에 시작하기
        </a>
    </div>


</div>
    <script>


    </script>
</body>
</html>