<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="'Oracle, Spring, Hibernate, jpa 만들기'"></title>
    <script src="resource/global/js/jquery-3.7.1.js"></script>
    <script src="resource/global/js/jqgrid/i18n/grid.locale-kr.js"></script>
    <script src="resource/global/js/jqgrid/minified/jquery.jqgrid.min.js"></script>
    <link rel="stylesheet" type="text/css" href="resource/global/css/smoothness/jquery-ui-1.10.3.custom.min.css">

    <link rel="stylesheet" type="text/css" href="resource/global/css/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="resource/global/css/smoothness/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="resource/global/css/smoothness/jquery-ui.theme.css">
</head>
<body>

    <header layout:fragment="header">
        <h3>Oracle, Spring, Hibernate, jqGrid 만들기</h3>
        <table border="1px" id="list">
            <tr><td></td></tr>
        </table>
        <div id="pager"></div>
    </header>
</body>
</html>