<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
            function loadChatRooms() {
            fetch("/api/v1/chat/rooms")
                .then(response => response.json())
                .then(data => {
                    data.reverse();
                    renderChatRooms(data);
                });
        }

            function renderChatRooms(chatRooms) {
            const chatRoomList = document.getElementById("chat-room-list");
            chatRoomList.innerHTML = "";

            chatRooms.forEach(chatRoom => {
                 const li = document.createElement("li");
                li.textContent = ` ${room.id}번방 / <a href='/api/v1/chat/rooms/${room.id}'>${room.roomName}</a> / ${createDate}`;

                chatRoomList.appendChild(li);
            });
        }

            function submitAddChatRoom(event) {
            event.preventDefault();

            const nameInput = document.getElementById("chat-room-name");
            let name = nameInput.value.trim();

            if (name.length === 0) {
            alert("채팅방 이름을 입력해주세요.");
            nameInput.focus();
            return;
        }

            fetch("/api/v1/chat/rooms", {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
        },
            body: JSON.stringify({
            roomName: name
        })
        })
            .then(response => response.json())
            .then(data => {
            nameInput.value = "";
            nameInput.focus();
            loadChatRooms(); // 채팅방 목록 새로고침
        });
        }

            // 페이지 로드 시 채팅방 목록 불러오기
            document.addEventListener("DOMContentLoaded", function() {
            loadChatRooms();
        });
    </script>
</head>
<body>
    <h1 style="font-weight: bold; font-size: 1.125rem;">채팅방 생성</h1>

    <form onsubmit="submitAddChatRoom(event)" style="margin-top: 0.5rem; display: flex; gap: 0.5rem;">
        <input
                id="chat-room-name"
                type="text"
                placeholder="채팅방 이름"
                style="border: 1px solid #ccc; border-radius: 0.25rem; padding: 0.5rem;"
        >
        <input
                type="submit"
                value="채팅방 생성"
                style="border: 1px solid #ccc; padding: 0.5rem;"
        >
    </form>

    <hr style="margin: 0.5rem 0;">

    <h1 style="font-weight: bold; font-size: 1.125rem;">채팅방 목록</h1>
    <ul id="chat-room-list"></ul>
</body>
</html>