<html layout:decorate="~{global/usrLayout}">
<head>
    <script type="text/javascript">
        function loadChatRooms() {
            fetch("/api/v1/chat/rooms")
                .then(response => response.json())
                .then(data => {
                    data.reverse();
                    renderChatRooms(data);
                });
        }

        function renderChatRooms(chatRooms) {
            const chatRoomList = document.getElementById("chat-room-list");
            chatRoomList.innerHTML = chatRooms.map(chatRoom => `
        <li>
            ${chatRoom.id}번방 /
            <a href='/chat/rooms/${chatRoom.id}'>${chatRoom.roomName}</a> /
            ${formatDateTime(chatRoom.createDate)}
        </li>
    `).join('');
        }

        function formatDateTime(dateTimeStr) {
            if (!dateTimeStr) return '';
            const date = new Date(dateTimeStr);
            return date.toLocaleString('ko-KR', {
                year: '2-digit',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit'
            });
        }

        // 페이지 로드 시 채팅방 목록 불러오기
        document.addEventListener("DOMContentLoaded", function() {
            loadChatRooms();
        });
    </script>
</head>
    <body>
        <div layout:fragment="content">
            <h1 style="font-weight: bold; font-size: 1.125rem;">채팅방 생성</h1>

            <form onsubmit="submitAddChatRoom(event)" style="margin-top: 0.5rem; display: flex; gap: 0.5rem;">
                <input
                        id="chat-room-name"
                        type="text"
                        placeholder="채팅방 이름"
                        style="border: 1px solid #ccc; border-radius: 0.25rem; padding: 0.5rem;"
                >
                <input
                        type="submit"
                        value="채팅방 생성"
                        style="border: 1px solid #ccc; padding: 0.5rem;"
                >
            </form>

            <hr style="margin: 0.5rem 0;">

            <h1 style="font-weight: bold; font-size: 1.125rem;">채팅방 목록</h1>
            <ul id="chat-room-list"></ul>
        </div>
    </body>
</html>